
@media (min-width: 900px) and (max-width: 1200px) {

  .main__menu > ul > li > a{
    padding: 20px 3px;
  }

  .slider__text h1 {
    font-size: 35px;
  }

  .service__text p {
    font-size: 12px;
  }

  .single__testimonial p {
    margin-bottom: 20px;
  }




}







@media (min-width: 850px) and (max-width: 899px) {

  .main__menu > ul > li > a{
    padding: 20px 0;
  }

  .slider__text h1 {
    font-size: 33px;
  }

  .service__text p {
    font-size: 12px;
  }

  .single__testimonial p {
    margin-bottom: 20px;
  }



}





@media (min-width: 844px) and (max-width: 849px) {

  .mean-container .mean-bar {
    padding: 0 0;
  }

  .mean-container .mean-nav ul li a.mean-expand {
    height: 26px;
  }

  .slider__area {
    margin-top: 0;
  }

  .slider__text h1 {
    font-size: 33px;
  }

  .service__text p {
    font-size: 12px;
  }

  .single__testimonial p {
    margin-bottom: 20px;
  }
  .banner__content p {
    font-size: 18px;
  }



}



@media (min-width: 810px) and (max-width: 843px) {

  .mean-container .mean-bar {
    padding: 0 0;
  }

  .mean-container .mean-nav ul li a.mean-expand {
    height: 26px;
  }

  .slider__area {
    margin-top: 0;
  }

  .slider__text h1 {
    font-size: 30px;
  }

  .service__text p {
    font-size: 12px;
  }

  .single__testimonial p {
    margin-bottom: 20px;
  }
  .banner__content p {
    font-size: 18px;
  }

  .banner__content h1 {
    font-size: 80px;
  }







}

@media (min-width: 768px) and (max-width: 809px) {

  .mean-container .mean-bar {
    padding: 0 0;
  }

  .mean-container .mean-nav ul li a.mean-expand {
    height: 26px;
  }

  .slider__area {
    margin-top: 0;
  }

  .slider__text h1 {
    font-size: 29px;
  }

  .slider__text a {
    font-size: 16px;
    padding: 15px 30px;
  }

  .single__testimonial p {
    margin-bottom: 20px;
  }
  .banner__content p {
    font-size: 18px;
  }

  .banner__content h1 {
    font-size: 80px;
  }

  .work {
    display: inherit;
  }

  .about__area, .service__area, .testimonial__area {
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .about__area img {
    width: 100%;
  }

  .about__area p {
    font-size: 17px;
  }

  .service__img {
    width: 9%;
  }

  .service__text {
    width: 90%;
  }

  .service__text p {
    font-size: 18px;
    margin-top: 12px;
  }

  .work__area {
    padding: 50px 20px 0 20px;
    overflow: hidden;
  }

  .footer {
    display: inherit;
  }

  .single__footer {
    width: 100%;
    margin-bottom: 40px;
  }

  .single__footer h3 {
    font-size: 30px;
  }

  .single__footer ul li a {
    font-size: 18px;
  }



}

@media (max-width: 767px) {


  .mean-container .mean-bar {
    padding: 0 0;
  }

  .mean-container .mean-nav ul li a.mean-expand {
    height: 26px;
  }

  .main__header__area {
    padding: 20px 20px;
  }

  .slider__area {
    margin-top: 0;
  }

  .slider__igm img {
    max-height: 300px;
  }

  .slider__text h1 {
    font-size: 29px;
  }

  .slider__text a {
    font-size: 16px;
    padding: 15px 30px;
  }

  .single__testimonial p {
    margin-bottom: 20px;
  }
  .banner__content p {
    font-size: 18px;
  }

  .banner__content h1 {
    font-size: 68px;
  }

  .work {
    display: inherit;
  }

  .about__area, .service__area, .testimonial__area {
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .about__area img {
    width: 100%;
  }

  .about__area p {
    font-size: 17px;
  }

  .service__img {
    width: 9%;
  }

  .service__text {
    width: 90%;
  }

  .service__text p {
    font-size: 18px;
    margin-top: 12px;
  }

  .work__area {
    padding: 50px 20px 0 20px;
    overflow: hidden;
  }

  .footer {
    display: inherit;
  }

  .single__footer {
    width: 100%;
    margin-bottom: 40px;
  }

  .single__footer h3 {
    font-size: 30px;
  }

  .single__footer ul li a {
    font-size: 18px;
  }

  .footer__area {
    padding: 50px 20px 0 20px;
  }


}

@media (max-width: 745px) {

  .slider__text h1 {
    font-size: 25px;
  }

  .slider__text p {
    font-size: 18px;
  }

  .banner__content h1 {
    font-size: 60px;
  }

  .service__text p {
    font-size: 16px;
    margin-top: 2px;
  }



}

@media (max-width: 670px) {

  .service__text p {
    font-size: 17px;
    margin-top: 1px;
  }


}



@media (max-width: 650px) {

  .slider__text h1 {
    font-size: 20px;
  }

  .service__text p {
    font-size: 16px;
  }

  
  
  .copyright__area {
    padding: 20px 20px;
  }


  .jump__to__top a {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }


}




@media (max-width: 600px) {

  .slider__text p {
    font-size: 17px;
  }

  .banner__content h1 {
    font-size: 53px;
  }

  .banner__content p {
    font-size: 16px;
  }

  .service__text p {
    font-size: 15px;
  }




}

@media (max-width: 576px) {

  .slider__text p {
    font-size: 15px;
  }

  .banner__content h1 {
    font-size: 45px;
  }

  .banner__content p {
    font-size: 15px;
  }

  .service__text p {
    font-size: 13px;
    margin-top: 8px;
  }


}


@media (max-width: 555px) {

  .header__top__area {
    flex-direction: column;
  }

  .search__area {
    max-width: 510px;
    margin-top: 20px;
  }

  .search__area input {
    width: 93%;
  }


}


@media (max-width: 500px) {

  .search__area input {
    width: 92%;
  }

  .main__header__area {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 20px;
  }

  .slider__igm img {
    max-height: 250px;
  }

  .slider__text h1 {
    font-size: 17px;
  }

  .slider__text p {
    font-size: 14px;
  }

  .slider__text a {
    font-size: 14px;
    padding: 9px 30px;
  }

  .banner__content h1 {
    font-size: 35px;
  }

  .banner__content p {
    font-size: 13px;
  }

  .service__img {
    width: 17%;
  }



}


@media (min-width: 992px) and (max-width: 1200px) {


}


@media (min-width: 992px) and (max-width: 1200px) {


}

