@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

/*=========================
 Common CSS 
===========================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Ubuntu Mono", monospace;
  color: #666666;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
