@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

/*=========================
 Common CSS 
===========================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Ubuntu Mono", monospace;
  color: #666666;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*=========================
Header Top CSS 
===========================*/

.header-top-area {
  background: #ba2e1f;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-menu {
  flex-basis: 78%;
}

.top-menu ul li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.top-menu ul li::after {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 2px;
  height: 16px;
  top: 0;
  right: -10px;
}

.top-menu ul li:last-child::after {
  display: none;
}

.top-menu ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  font-size: 14px;
}

.search-area {
  width: 100%;
  max-width: 210px;
}

.search-area form {
  background: #ffffff;
  border-radius: 25px;
  padding: 1%;
}

.search-area input {
  width: 83%;
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 5px;
}

.search-area button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #ba2e1f;
  padding: 5px;
  cursor: pointer;
}

.search-area button i {
  color: #ffffff;
}
