@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

/*=========================
 Common CSS 
===========================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu Mono", monospace;
  color: #666666;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*=========================
Header Top CSS 
===========================*/

.header__top__area{
  background: #ba2e1f;
  padding: 20px;
  display: flex;
  align-items: center;
}

.top__mini__menu {
  flex-grow: 1;
}

.top__mini__menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.top__mini__menu ul li::after {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 2px;
  height: 16px;
  top: 0;
  right: -10px;
}

.top__mini__menu ul li:last-child::after {
  display: none;
}

.top__mini__menu ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  font-size: 14px;
}

.search__area {
  width: 100%;
  max-width: 210px;
}

.search__area form {
  background: #ffffff;
  border-radius: 25px;
  padding: 1%;
}

.search__area input {
  width: 83%;
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 10px;
}

.search__area button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #ba2e1f;
  padding: 5px;
  cursor: pointer;
}

.search__area button i {
  color: #ffffff;
}


/*=========================
Main Header Area
===========================*/

.main__header__area{
  display: flex;
  align-items: center;
  padding: 40px 20px;
}

.logo{
  flex-grow: 1;
}

.social__area ul li{
  display: inline-block;
  list-style: none;
}


.social__area ul li a{
  display: block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #333333;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  transition: all 0.3s linear;
}

.social__area ul li a:hover{
  transform: rotate(360deg);
}

.social__area ul li a:hover.linkedin{
  background: #3A83D7;
}

.social__area ul li a:hover.twitter{
  background: #00A8FE;
}

.social__area ul li a:hover.pinterest{
  background: #AD080C;
}

.social__area ul li a:hover.google__plus{
  background: #DC4B3E;
}

.social__area ul li a:hover.rss{
  background: #F57304;
}

